.user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    .user {
        display: flex;
        align-items: center;

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 15px;
            object-fit: cover;
        }
    }

    .icons {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }
}

button {
    &.logout-button {
        padding: 10px 20px;
        margin: 0 auto 10px;
        width: 95%;
        background-color: #c30c0cda;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: small;

        &:hover {
            background-color: #a20a0ad3;
        }
    }
}